h3{
    font-size: 25px;
    font-family: cursive;
    border-radius: 25px;
}

.btn-success:hover{

    border-color: aqua;
    background-color: rgb(208, 158, 255);
    border-radius: 30px;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(85, 0, 255);}
    from{box-shadow: 1px 1px 38px rgb(255, 0, 230);}
}